@import url('https://fonts.googleapis.com/css?family=Norican:700|Moon%20Dance:400');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbf5f1;
    font-family: sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: 'Norican';
    font-weight: 700;
}

/* 16px */

h1 {
    font-size: 2rem;
    color: chocolate;
}

.container {
    width: 29.5rem;
    text-align: center;
}

.wheel {
    position: relative;
    display: flex;
    justify-content: center;
}

.pointer {
    position: absolute;
    top: 2.4rem;
    z-index: 1;
    width: 1.5rem;
}

.spinner {
    width: 15rem;
    height: 21rem;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* input welcome */

.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}


.button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-log:active,
.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

/* button for welcome */
#button {
    --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: hsla(0, 0%, 50%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 240, 40%;

    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;

    background: linear-gradient(140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 50%, 0.6) min(8em, 100%));
    color: hsla(0, 0%, 90%);
    border: 0;
    box-shadow: inset 0.4px 1px 4px var(--edge-light);

    transition: all 0.1s var(--bezier);
}

#button:hover {
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
        2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
}

#button:active {
    --text-light: rgba(255, 255, 255, 1);

    background: linear-gradient(140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 50%, 0.6) min(8em, 100%));
    box-shadow: inset 0.4px 1px 8px var(--edge-light),
        0px 0px 8px hsla(var(--back-color), 50%, 0.6);
    text-shadow: 0px 0px 20px var(--text-light);
    color: hsla(0, 0%, 100%, 1);
    letter-spacing: 0.1em;
    transform: scale(1);
}

/* button design for the game */

.button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px 12px;
    min-width: 10em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;

}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
    user-select: none;
}

.button:active .button-top {
    transform: translateY(6px);
}

.button-top::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#3dcd9e, #369d8d);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: .2s;
}

.button:active .button-top::after {
    border-radius: 6px;
    padding: 0 2px;
}

.button-bottom {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    background-color: #38a19d;
    background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
    transition-property: border-radius, padding-top;
    transition-duration: .2s;
}

.button:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}

.button-base {
    position: absolute;
    z-index: -2;
    top: 4px;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px 0 black, inset 0 2px 2px rgba(0, 0, 0, .25);
}

.container_youwon {
    width: 29.4rem;
    height: 35rem;
    /* Add your background pattern here */
    --sz: 15px;
    --c0: #000;
    --c1: #c71175;
    --ts: 50% / calc(var(--sz) * 8) calc(var(--sz) * 16);
    margin: 0;
    padding: 0;
    overflow: hidden;
    --dot: var(--c1) 0 calc(var(--sz) * 0.78),
        #fff0 calc(calc(var(--sz) * 0.78) + 1px) 100%;
    --dot2: radial-gradient(circle at 90% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 0%, var(--dot)) var(--ts);
    --cg1: conic-gradient(from -90deg at 5% 51%, var(--c0) 0 90deg, #fff0 0 100%) var(--ts);
    --cg2: conic-gradient(from -90deg at 25% 50%, var(--c1) 0 90deg, #fff0 0 100%) var(--ts);
    --cg3: conic-gradient(from -90deg at 30% 38.5%,
            var(--c0) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg4: conic-gradient(from -90deg at 50% 37.5%,
            var(--c1) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg5: conic-gradient(from -90deg at 55% 26%, var(--c0) 0 90deg, #fff0 0 100%) var(--ts);
    --cg6: conic-gradient(from -90deg at 75% 25%, var(--c1) 0 90deg, #fff0 0 100%) var(--ts);
    --cg7: conic-gradient(from -90deg at 80% 13.5%,
            var(--c0) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg8: conic-gradient(from -90deg at 100% 12.5%,
            var(--c1) 0 90deg,
            #fff0 0 100%) var(--ts);

    background: var(--dot2), var(--dot2),
        radial-gradient(circle at 90% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 90% 12.5%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 25%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 37.5%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 50%, var(--dot)) var(--ts), var(--cg1),
        var(--cg1), var(--cg2), var(--cg2), var(--cg3), var(--cg3), var(--cg4),
        var(--cg4), var(--cg5), var(--cg5), var(--cg6), var(--cg6), var(--cg7),
        var(--cg7), var(--cg8), var(--cg8),
        linear-gradient(-45deg, #fff0 0 32.25%, #0002 50%, #000 77.5%) var(--ts),
        linear-gradient(-45deg, #fff0 0 32.25%, #000 60%) var(--ts),
        repeating-linear-gradient(90deg, var(--c0) 0 5%, var(--c1) 0 25%) var(--ts);
}

.card {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    left: 9rem;
    top: 10rem;
}

.card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}

#result_container {
    display: none;
}

@media only screen and (max-width: 767px) {
    .pointer {
        left: 10;
    }
}